.flex-column,
.flex-row {
    display: flex;
    width: 100%;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}
#wrapper {
    width: 100vw;
}

#sidebar-wrapper {
    background: #333;
    color: #fff;
    border-right: 1px solid gray;
    width: 200px;
}

#header {
    background-color: #fff;
    height: 64px;
    margin: 0;
}

#main-wrapper {
    padding: 15px;
}

#main-wrapper.squeeze {
    width: calc(100vw - 176px);
}

#main-wrapper.normal {
    width: calc(100vw - 200px);
}

.footer {
    text-align: center;
    background: #fff;
}

#main {
    height: calc(100vh - 125px);
    /*100 + 25*/
     overflow-y: auto; 
     width: calc(100vw - 200px);
}

.outer {
    background-color: #F2F0F1;
}

.navbar {
    padding: 0px;
}
.images {
    display: inline-block;
    width: 25%;
    height: 125px;
    margin: 10px;
    margin-left: 70px;
    border: 3px solid #73AD21;  
}